<mat-toolbar color="primary">
  <span>Students</span>
</mat-toolbar>

<div class="container allstudents-container">
  <a mat-raised-button color="primary" routerLink="/add-student">Add</a>
</div>

<ng-container matColumnDef="actions">
  <th mat-header-cell *matHeaderCellDef>Actions</th>
  <td mat-cell *matCellDef="let element">
	<a [routerLink]="['/edit-student', element.id]"
	  ><mat-icon
		aria-hidden="false"
		aria-label="Example home icon"
		fontIcon="edit"
	  >
	  </mat-icon
	></a>
  </td>
</ng-container>